@import "tailwindcss";

@theme inline {
  /* Colors */

  --color-*: initial;

  --color-white: var(--base-color-white);
  --color-black: var(--base-color-black);

  --color-grey-100: var(--base-color-grey-100);
  --color-grey-120: var(--base-color-grey-120);
  --color-grey-200: var(--base-color-grey-200);
  --color-grey-500: var(--base-color-grey-500);
  --color-grey-700: var(--base-color-grey-700);
  --color-grey-900: var(--base-color-grey-900);

  --color-light-blue-100: var(--base-color-light-blue-100);
  --color-light-blue-200: var(--base-color-light-blue-200);
  --color-light-blue-500: var(--base-color-light-blue-500);
  --color-light-blue-700: var(--base-color-light-blue-700);

  --color-blue-100: var(--base-color-blue-100);
  --color-blue-200: var(--base-color-blue-200);
  --color-blue-500: var(--base-color-blue-500);
  --color-blue-700: var(--base-color-blue-700);

  --color-green-100: var(--base-color-green-100);
  --color-green-200: var(--base-color-green-200);
  --color-green-500: var(--base-color-green-500);
  --color-green-700: var(--base-color-green-700);

  --color-yellow-100: var(--base-color-yellow-100);
  --color-yellow-200: var(--base-color-yellow-200);
  --color-yellow-500: var(--base-color-yellow-500);
  --color-yellow-700: var(--base-color-yellow-700);

  --color-red-100: var(--base-color-red-100);
  --color-red-200: var(--base-color-red-200);
  --color-red-500: var(--base-color-red-500);
  --color-red-700: var(--base-color-red-700);

  --color-purple-100: var(--base-color-purple-100);
  --color-purple-200: var(--base-color-purple-200);
  --color-purple-500: var(--base-color-purple-500);
  --color-purple-700: var(--base-color-purple-700);

  --color-pink-100: var(--base-color-pink-100);
  --color-pink-200: var(--base-color-pink-200);
  --color-pink-500: var(--base-color-pink-500);
  --color-pink-700: var(--base-color-pink-700);

  /* Colors / Theme */

  --color-theme-background: var(--base-color-theme-background);
  --color-theme-foreground: var(--base-color-theme-foreground);
  --color-theme-foreground-muted: var(--base-color-theme-foreground-muted);

  --color-theme-link-underline-hover-blue: var(--base-color-theme-link-underline-hover-blue);
  --color-theme-link-underline-hover-green: var(--base-color-theme-link-underline-hover-green);
  --color-theme-link-underline-hover-red: var(--base-color-theme-link-underline-hover-red);
  --color-theme-link-underline-hover-purple: var(--base-color-theme-link-underline-hover-purple);
  --color-theme-link-underline-hover-pink: var(--base-color-theme-link-underline-hover-pink);

  --color-theme-link-highlight-blue-foreground: var(--base-color-theme-link-highlight-blue-foreground);
  --color-theme-link-highlight-blue-background: var(--base-color-theme-link-highlight-blue-background);

  --color-theme-link-highlight-green-foreground: var(--base-color-theme-link-highlight-green-foreground);
  --color-theme-link-highlight-green-background: var(--base-color-theme-link-highlight-green-background);

  --color-theme-link-highlight-purple-foreground: var(--base-color-theme-link-highlight-purple-foreground);
  --color-theme-link-highlight-purple-background: var(--base-color-theme-link-highlight-purple-background);

  --color-theme-link-highlight-pink-foreground: var(--base-color-theme-link-highlight-pink-foreground);
  --color-theme-link-highlight-pink-background: var(--base-color-theme-link-highlight-pink-background);

  --color-theme-link-highlight-red-foreground: var(--base-color-theme-link-highlight-red-foreground);
  --color-theme-link-highlight-red-background: var(--base-color-theme-link-highlight-red-background);

  --color-theme-card-base-background: var(--base-color-theme-card-base-background);
  --color-theme-card-base-title-foreground: var(--base-color-theme-card-base-title-foreground);
  --color-theme-card-base-subtitle-foreground: var(--base-color-theme-card-base-subtitle-foreground);
  --color-theme-card-base-hover-background: var(--base-color-theme-card-base-hover-background);

  --color-theme-card-default-lab-background: var(--base-color-theme-card-default-lab-background);
  --color-theme-card-default-lab-title-foreground: var(--base-color-theme-card-default-lab-title-foreground);
  --color-theme-card-default-lab-subtitle-foreground: var(--base-color-theme-card-default-lab-subtitle-foreground);
  --color-theme-card-default-lab-background-grid: var(--base-color-theme-card-default-lab-background-grid);
  --color-theme-card-default-lab-hover-background: var(--base-color-theme-card-default-lab-hover-background);

  --color-theme-card-duolingo-background: var(--base-color-theme-card-duolingo-background);
  --color-theme-card-duolingo-title-foreground: var(--base-color-theme-card-duolingo-title-foreground);
  --color-theme-card-duolingo-subtitle-foreground: var(--base-color-theme-card-duolingo-subtitle-foreground);
  --color-theme-card-duolingo-hover-background: var(--base-color-theme-card-duolingo-hover-background);

  --color-theme-card-ikea-background: var(--base-color-theme-card-ikea-background);
  --color-theme-card-ikea-title-foreground: var(--base-color-theme-card-ikea-title-foreground);
  --color-theme-card-ikea-subtitle-foreground: var(--base-color-theme-card-ikea-subtitle-foreground);
  --color-theme-card-ikea-hover-background: var(--base-color-theme-card-ikea-hover-background);

  --color-theme-card-overheard-background: var(--base-color-theme-card-overheard-background);
  --color-theme-card-overheard-title-foreground: var(--base-color-theme-card-overheard-title-foreground);
  --color-theme-card-overheard-subtitle-foreground: var(--base-color-theme-card-overheard-subtitle-foreground);
  --color-theme-card-overheard-hover-background: var(--base-color-theme-card-overheard-hover-background);

  --color-theme-bento-item-background: var(--base-color-theme-bento-item-background);

  --color-theme-floating-content-wavy-line-blue: var(--base-color-theme-floating-content-wavy-line-blue);
  --color-theme-floating-content-wavy-line-green: var(--base-color-theme-floating-content-wavy-line-green);
  --color-theme-floating-content-wavy-line-red: var(--base-color-theme-floating-content-wavy-line-red);
  --color-theme-floating-content-wavy-line-purple: var(--base-color-theme-floating-content-wavy-line-purple);
  --color-theme-floating-content-wavy-line-pink: var(--base-color-theme-floating-content-wavy-line-pink);

  --color-theme-icon-github: var(--base-color-theme-icon-github);

  --color-theme-focus-outline: var(--base-color-theme-focus-outline);

  /* Spacing */

  --spacing-*: initial;

  --spacing-0: 0;

  --spacing-4: 0.4rem;
  --spacing-8: 0.8rem;
  --spacing-12: 1.2rem;
  --spacing-16: 1.6rem;
  --spacing-20: 2rem;
  --spacing-24: 2.4rem;
  --spacing-32: 3.2rem;
  --spacing-48: 4.8rem;
  --spacing-64: 6.4rem;
  --spacing-96: 9.6rem;
  --spacing-128: 12.8rem;
  --spacing-192: 19.2rem;
  --spacing-256: 25.6rem;
  --spacing-384: 38.4rem;

  --spacing-4-px: 4px;
  --spacing-8-px: 8px;
  --spacing-12-px: 12px;
  --spacing-16-px: 16px;
  --spacing-20-px: 20px;
  --spacing-24-px: 24px;
  --spacing-32-px: 32px;
  --spacing-48-px: 48px;
  --spacing-64-px: 64px;
  --spacing-96-px: 96px;
  --spacing-128-px: 128px;
  --spacing-192-px: 192px;
  --spacing-256-px: 256px;
  --spacing-384-px: 384px;

  --spacing-container-horizontal: var(--base-spacing-container-horizontal);
  --spacing-container-vertical: var(--base-spacing-container-vertical);

  --spacing-container-max-width: var(--base-spacing-container-max-width);
  --spacing-container-max-width-w-spacing: var(--base-spacing-container-max-width-w-spacing);

  --spacing-content-body-container-sm-max-width: var(--base-spacing-content-body-container-sm-max-width);
  --spacing-content-body-container-md-max-width: var(--base-spacing-content-body-container-md-max-width);
  --spacing-content-body-container-lg-max-width: var(--base-spacing-content-body-container-lg-max-width);

  /* Breakpoints */

  --breakpoint-container-header-appendix: 75rem; /* 1200px, not sure why 10px base font is not working here */

  /* Typography */

  --font-*: initial;
  --font-title: var(--font-fredoka), sans-serif;
  --font-body: var(--font-nunito-sans), sans-serif;

  --font-weight-*: initial;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --text-*: initial;

  --text-title-1-desktop: 3.2rem;
  --text-title-1-desktop--line-height: 1.4;
  --text-title-1: 2.8rem;
  --text-title-1--line-height: 1.4;

  --text-title-2-desktop: 2.6rem;
  --text-title-2-desktop--line-height: 1.4;
  --text-title-2-desktop--font-w: 0.01em;
  --text-title-2: 2.4rem;
  --text-title-2--line-height: 1.4;

  --text-body-3-desktop: 1.8rem;
  --text-body-3-desktop--line-height: 1.6;
  --text-body-3: 1.8rem;
  --text-body-3--line-height: 1.6;

  --text-body-2-desktop: 1.6rem;
  --text-body-2-desktop--line-height: 1.8;
  --text-body-2: 1.6rem;
  --text-body-2--line-height: 1.8;

  --text-body-1-desktop: 1.4rem;
  --text-body-1-desktop--line-height: 1.8;
  --text-body-1: 1.4rem;
  --text-body-1--line-height: 1.8;

  --leading-*: initial;
  --leading-none: 1;
  --leading-sm: 1.4;
  --leading-md: 1.6;
  --leading-lg: 1.8;

  /* Others */

  --radius-*: initial;
  --radius-none: 0rem;
  --radius-xs: 0.4rem;
  --radius-sm: 0.8rem;
  --radius-md: 1.2rem;
  --radius-lg: 2.8rem;
  --radius-full: 9999px;

  --shadow-*: initial;

  /* Based on https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: 0deg 0% 67%;
  --shadow-sm: -0.4px 0.4px 0.6px hsl(var(--shadow-color) / 0.33),
    -1.1px 1.3px 1.9px -0.9px hsl(var(--shadow-color) / 0.32),
    -2.8px 3.3px 4.8px -1.7px hsl(var(--shadow-color) / 0.32), -6.7px 8px 11.6px -2.6px hsl(var(--shadow-color) / 0.31);

  /**
   * Animation
   */
  --animate-homepage-header-icon-slideshow: homepage-header-icon-slideshow 15s linear infinite;

  @keyframes homepage-header-icon-slideshow {
    0% {
      visibility: visible;
    }
    19.9% {
      visibility: visible;
    }
    20% {
      visibility: hidden;
    }
    99.9% {
      visibility: hidden;
    }
  }

  --animate-homepage-header-icon-rotation: homepage-header-icon-rotation 4s linear infinite;

  @keyframes homepage-header-icon-rotation {
    0% {
      transform: rotate(17deg);
    }
    49.9% {
      transform: rotate(17deg);
    }
    50% {
      transform: rotate(-17deg);
    }
    100% {
      transform: rotate(-17deg);
    }
  }
}

/* Typography */

@utility title-1 {
  @apply text-title-1 lg:text-title-1-desktop font-title font-regular;
}

@utility title-1-medium {
  @apply text-title-1 lg:text-title-1-desktop font-title font-medium;
}

@utility title-1-light {
  @apply text-title-1 lg:text-title-1-desktop font-title font-light;
}

@utility title-2 {
  @apply text-title-2 lg:text-title-2-desktop font-title font-regular;
}

@utility title-2-light {
  @apply text-title-2 lg:text-title-2-desktop font-title font-light;
}

@utility body-3 {
  @apply text-body-3 lg:text-body-3-desktop font-body font-regular;
}

@utility body-2 {
  @apply text-body-2 lg:text-body-2-desktop font-body font-regular;
}

@utility body-2-semi-bold {
  @apply text-body-2 lg:text-body-2-desktop font-body font-semi-bold;
}

@utility body-1 {
  @apply text-body-1 lg:text-body-1-desktop font-body font-regular;
}

/** Squiggle Border */

/* Generated using https://css-generators.com/wavy-shapes/ */
@utility wavy-border {
  background-color: currentColor;
  min-height: 8px;

  --mask: radial-gradient(
        8.68px at 50% calc(100% + 4.8px),
        #0000 calc(99% - 2px),
        #000 calc(101% - 2px) 99%,
        #0000 101%
      )
      calc(50% - 12px) calc(50% - 4px + 0.5px) / 24px 8px repeat-x,
    radial-gradient(8.68px at 50% -4.8px, #0000 calc(99% - 2px), #000 calc(101% - 2px) 99%, #0000 101%) 50%
      calc(50% + 4px) / 24px 8px repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

/** Base Styles */

@layer base {
  :root {
    --base-color-white: #ffffff;
    --base-color-black: hsl(0, 0%, 18%);

    --base-color-grey-100: hsl(0, 0%, 97%);
    --base-color-grey-120: hsl(0, 0%, 94%);
    --base-color-grey-200: hsl(0, 0%, 80%);
    --base-color-grey-500: hsl(0, 0%, 55%);
    --base-color-grey-700: hsl(0, 0%, 35%);
    --base-color-grey-900: hsl(0, 0%, 22%);
    --base-color-grey-920: hsl(0, 0%, 20%);

    --base-color-light-blue-100: hsl(197, 100%, 94%);
    --base-color-light-blue-120: hsl(197, 100%, 91%);
    --base-color-light-blue-200: hsl(197, 100%, 80%);
    --base-color-light-blue-500: hsl(197, 100%, 55%);
    --base-color-light-blue-700: hsl(197, 100%, 30%);

    --base-color-blue-100: hsl(220, 100%, 94%);
    --base-color-blue-120: hsl(220, 100%, 91%);
    --base-color-blue-200: hsl(220, 100%, 80%);
    --base-color-blue-500: hsl(220, 100%, 55%);
    --base-color-blue-700: hsl(220, 100%, 30%);

    --base-color-green-100: hsl(152, 100%, 94%);
    --base-color-green-120: hsl(152, 100%, 91%);
    --base-color-green-200: hsl(152, 100%, 80%);
    --base-color-green-500: hsl(152, 100%, 55%);
    --base-color-green-700: hsl(152, 100%, 30%);

    --base-color-yellow-100: hsl(50, 100%, 94%);
    --base-color-yellow-120: hsl(50, 100%, 91%);
    --base-color-yellow-200: hsl(50, 100%, 80%);
    --base-color-yellow-500: hsl(50, 100%, 55%);
    --base-color-yellow-700: hsl(50, 100%, 30%);

    --base-color-red-100: hsl(0, 100%, 94%);
    --base-color-red-120: hsl(0, 100%, 91%);
    --base-color-red-200: hsl(0, 100%, 80%);
    --base-color-red-500: hsl(0, 100%, 55%);
    --base-color-red-700: hsl(0, 100%, 30%);

    --base-color-purple-100: hsl(264, 100%, 94%);
    --base-color-purple-120: hsl(264, 100%, 91%);
    --base-color-purple-200: hsl(264, 100%, 80%);
    --base-color-purple-500: hsl(264, 100%, 55%);
    --base-color-purple-700: hsl(264, 100%, 30%);

    --base-color-pink-100: hsl(324, 100%, 94%);
    --base-color-pink-120: hsl(324, 100%, 91%);
    --base-color-pink-200: hsl(324, 100%, 80%);
    --base-color-pink-500: hsl(324, 100%, 55%);
    --base-color-pink-700: hsl(324, 100%, 30%);
  }

  :root {
    --base-color-theme-background: var(--base-color-white);
    --base-color-theme-foreground: var(--base-color-black);
    --base-color-theme-foreground-muted: var(--base-color-grey-700);

    --base-color-theme-link-underline-hover-blue: var(--base-color-blue-500);
    --base-color-theme-link-underline-hover-green: var(--base-color-green-500);
    --base-color-theme-link-underline-hover-red: var(--base-color-red-500);
    --base-color-theme-link-underline-hover-purple: var(--base-color-purple-500);
    --base-color-theme-link-underline-hover-pink: var(--base-color-pink-500);

    --base-color-theme-link-highlight-blue-foreground: var(--base-color-blue-700);
    --base-color-theme-link-highlight-blue-background: var(--base-color-blue-100);

    --base-color-theme-link-highlight-green-foreground: var(--base-color-green-700);
    --base-color-theme-link-highlight-green-background: var(--base-color-green-100);

    --base-color-theme-link-highlight-purple-foreground: var(--base-color-purple-700);
    --base-color-theme-link-highlight-purple-background: var(--base-color-purple-100);

    --base-color-theme-link-highlight-pink-foreground: var(--base-color-pink-700);
    --base-color-theme-link-highlight-pink-background: var(--base-color-pink-100);

    --base-color-theme-link-highlight-red-foreground: var(--base-color-red-700);
    --base-color-theme-link-highlight-red-background: var(--base-color-red-100);

    --base-color-theme-card-base-background: var(--base-color-grey-100);
    --base-color-theme-card-base-title-foreground: var(--base-color-black);
    --base-color-theme-card-base-subtitle-foreground: var(--base-color-grey-500);
    --base-color-theme-card-base-hover-background: var(--base-color-grey-120);

    --base-color-theme-card-default-lab-background: var(--base-color-grey-900);
    --base-color-theme-card-default-lab-title-foreground: var(--base-color-white);
    --base-color-theme-card-default-lab-subtitle-foreground: var(--base-color-grey-200);
    --base-color-theme-card-default-lab-background-grid: var(--base-color-grey-700);
    --base-color-theme-card-default-lab-hover-background: var(--base-color-grey-920);

    --base-color-theme-card-duolingo-background: var(--base-color-light-blue-100);
    --base-color-theme-card-duolingo-title-foreground: var(--base-color-light-blue-700);
    --base-color-theme-card-duolingo-subtitle-foreground: var(--base-color-light-blue-700);
    --base-color-theme-card-duolingo-hover-background: var(--base-color-light-blue-120);

    --base-color-theme-card-ikea-background: var(--base-color-yellow-100);
    --base-color-theme-card-ikea-title-foreground: var(--base-color-yellow-700);
    --base-color-theme-card-ikea-subtitle-foreground: var(--base-color-yellow-700);
    --base-color-theme-card-ikea-hover-background: var(--base-color-yellow-120);

    --base-color-theme-card-overheard-background: var(--base-color-green-100);
    --base-color-theme-card-overheard-title-foreground: var(--base-color-green-700);
    --base-color-theme-card-overheard-subtitle-foreground: var(--base-color-green-700);
    --base-color-theme-card-overheard-hover-background: var(--base-color-green-120);

    --base-color-theme-bento-item-background: var(--base-color-grey-100);

    --base-color-theme-floating-content-wavy-line-blue: var(--base-color-blue-500);
    --base-color-theme-floating-content-wavy-line-green: var(--base-color-green-500);
    --base-color-theme-floating-content-wavy-line-red: var(--base-color-red-500);
    --base-color-theme-floating-content-wavy-line-purple: var(--base-color-purple-500);
    --base-color-theme-floating-content-wavy-line-pink: var(--base-color-pink-500);

    --base-color-theme-icon-github: var(--base-color-purple-500);

    --base-color-theme-focus-outline: var(--base-color-black);
  }

  [data-theme="lab"] {
    --base-color-theme-background: var(--base-color-black);
    --base-color-theme-foreground: var(--base-color-white);
    --base-color-theme-foreground-muted: var(--base-color-grey-200);

    --base-color-theme-link-underline-hover-blue: var(--base-color-blue-200);
    --base-color-theme-link-underline-hover-green: var(--base-color-green-200);
    --base-color-theme-link-underline-hover-red: var(--base-color-red-200);
    --base-color-theme-link-underline-hover-purple: var(--base-color-purple-200);
    --base-color-theme-link-underline-hover-pink: var(--base-color-pink-200);

    --base-color-theme-link-highlight-blue-foreground: var(--base-color-blue-100);
    --base-color-theme-link-highlight-blue-background: var(--base-color-blue-700);

    --base-color-theme-link-highlight-green-foreground: var(--base-color-green-100);
    --base-color-theme-link-highlight-green-background: var(--base-color-green-700);

    --base-color-theme-link-highlight-purple-foreground: var(--base-color-purple-100);
    --base-color-theme-link-highlight-purple-background: var(--base-color-purple-700);

    --base-color-theme-link-highlight-pink-foreground: var(--base-color-pink-100);
    --base-color-theme-link-highlight-pink-background: var(--base-color-pink-700);

    --base-color-theme-link-highlight-red-foreground: var(--base-color-red-100);
    --base-color-theme-link-highlight-red-background: var(--base-color-red-700);

    --base-color-theme-icon-github: var(--base-color-purple-100);

    --base-color-theme-focus-outline: var(--base-color-white);
  }

  /* Global variables */
  :root {
    --base-spacing-container-max-width: 88rem;
    --base-spacing-container-max-width-w-spacing: calc(
      var(--base-spacing-container-max-width) + var(--spacing-container-horizontal) * 2
    );
    --base-spacing-container-horizontal: 32px;
    --base-spacing-container-vertical: 64px;

    --base-spacing-content-body-container-sm-max-width: 56rem;
    --base-spacing-content-body-container-md-max-width: 72rem;
    --base-spacing-content-body-container-lg-max-width: var(--base-spacing-container-max-width);
  }

  @variant md {
    :root {
      --base-spacing-container-vertical: 96px;
    }
  }

  /* Base font size */
  :root {
    /* Set the base font size to 10px, useful for rem calculations */
    font-size: calc((10 / 16) * 100%);
  }

  /* Global Styles */
  html {
    @apply leading-none cursor-default h-full;
  }

  body {
    @apply font-body antialiased body-3 overflow-x-hidden min-w-[320px] h-full;
  }

  [data-theme-wrapper] {
    @apply h-full bg-theme-background text-theme-foreground relative isolate;
  }

  /* Custom cursor */
  body {
    /* Default Cursor */
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='18' height='26'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='m1.7 2 2 .7 12.2 12.4.5 1.8H11v1.7l.8.6 1.4 2.7v2.7h-2.7l-2.8-5.4H6.3l-2.7 2.7-1.8.4V2.1Z'/%3E%3Cpath fill='%23000' d='M16 15h1.3v2.8h-5.5v1.4h-1.3v-2.8h5.4v-1.3Zm0 0v-1.3h-1.4V15h1.3Zm-1.4-1.3v-1.4h-1.4v1.4h1.4Zm-1.4-1.4V11h-1.4v1.4h1.4ZM11.8 11V9.6h-1.3v1.3h1.3Zm-1.3-1.3V8.2H9v1.4h1.4ZM9 8.2V6.8H7.7v1.4h1.4ZM7.7 6.8V5.5H6.3v1.3h1.4ZM6.3 5.5V4H5v1.4h1.3ZM5 4V2.7H3.6v1.4H5ZM2.2 2.7h1.4V1.4H2.2V0H1v23.3h2.7v-1.4H2.2V2.7Zm4.1 15v1.5h1.4v-1.4H6.3ZM5 20.6h1.3v-1.3H5v1.3ZM3.6 22H5v-1.4H3.6V22Zm4.1-2.7v2.7h1.4v-2.7H7.7Zm1.4 2.7v2.7h1.4V22H9Zm5.5 2.7V22h-1.4v2.7h1.4ZM13.2 22v-2.7h-1.4v2.7h1.4ZM10.5 26h2.7v-1.4h-2.7V26Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.9 0h16.3v26H.9z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"),
      auto;

    /* Pointer Cursor */
    a,
    button {
      cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='21' height='26'%3E%3Cpath fill='%23fff' d='m1.5 11.8-.3 2 1.5 1.6 4.7 9.4 9.5.4 1.2-2.7 1.2-3.6.3-7.9-1.5-1.5-2.4-1.2L12.2 7l-2.4-.4-1.2-5.5H6.3l-.4 12.6-2.4-2.4-2 .4Z'/%3E%3Cpath fill='%23000' d='M5 1.2h1.3v13H5V13H3.9v-1.2H5V1.2Zm14.3 9.4V19h1.1v-8.3h-1.1Zm-19 0v3.6h1.2v-2.4H4v-1.2H.3ZM4 17.7v-2.3H2.7v2.3H4ZM5 20.1v-2.4H3.9v2.4H5Zm1.2 2.4V26H18v-3.5h-1.2v2.3H7.4v-2.3H6.3V20H5v2.4h1.2Zm11.8 0h1.2v-3.6H18v3.6ZM2.7 15.4v-1.2H1.5v1.2h1.2Zm15.4-6v1.2h1.2V9.5H18Zm-2.4-1.1V13H17V9.5H18V8.3h-2.4ZM12.2 7v4.7h1.1V8.3h2.4V7h-3.5ZM9.8 5.9V1.2H8.6v10.6h1.2V7.1h2.4V5.9H9.8ZM6.3 0v1.2h2.3V0H6.3Z'/%3E%3C/svg%3E%0A"),
        pointer;
    }
  }

  /* Focus Outline */

  /* Disable focus outline when focus comes from mouse/touch interactions */
  :focus:not(:focus-visible) {
    @apply outline-none;
  }

  /* Custom style for keyboard interaction focus */
  :focus-visible {
    @apply outline-hidden ring-4 ring-theme-focus-outline; /* TODO: Temp, replace with better style */
  }
}
